body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: #F2F5F8;         
  color: #1F2A33;              
}


.site-header {
  padding: 20px;
  text-align: center;
  background: #0A1A33;        
  color: white;
  font-size: 22px;
}


.navbar a {
  margin: 0 12px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 5px 8px;
  border-radius: 6px;
}

.navbar a:hover {
  background-color: #2A8CFF;   
}

.container {
  max-width: 950px;
  margin: auto;
  padding: 25px;
}


.hero, .page {
  text-align: center;
  padding: 40px 20px;
  background: white;
  border-radius: 18px;
  margin-bottom: 40px;
}

.hero-img, .about-img {
  width: 630px;
  height: 400px;
  object-fit: cover;
  border-radius: 18px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 18px;
  background: #FF8A00;         
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 5px;
}

.btn:hover {
  background: #2A8CFF;       
}


.small-btn {
  padding: 7px 16px;
}


.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.feature-card {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 15px;
}

.feature-card img {
  width: 100%;
  height: 265px;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 10px;
}

.controls button {
  padding: 9px 16px;
  margin: 5px;
  border: none;
  background: #2A8CFF;      
  color: white;
  border-radius: 8px;
  font-weight: 600;
}

.controls button:hover {
  background: #FF8A00;        
}

.board {
  width: 420px;
  height: 420px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  background: #FFFFFFAA;
  padding: 12px;
  border-radius: 14px;
}

.hint {
  margin-top: 15px;
  font-size: 14px;
  color: #0A1A33;           
}


.site-footer {
  text-align: center;
  padding: 15px;
  background: #0A1A33;       
  color: white;
  margin-top: 30px;
}
.loginpage {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#DCE4F0, #F2F5F8);
}

.card {
  background: #FFFFFF;
  width: 330px;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}

h2 {
  color: #2A8CFF;
  margin-bottom: 8px;
}

input, label, p {
  color: #1F2A33;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  background: #FF8A00;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: #2A8CFF;
}

.small a {
  color: #2A8CFF;
  text-decoration: none;
  font-weight: bold;
}
.logo-area {
  display: flex;
  align-items: center;
  gap: 12px;
}

.main-logo {
  width: 55px;
  height: auto;
}

